body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;

}

section {
    min-height: 800px;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

button.btn-1 {
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
    border: none;

}

.h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;


}

h2.h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 3px;

}

a {
    text-decoration-line: none;
    color: white !important;
    padding-right: 20px;
    letter-spacing: 0.1em;
}

.text {
    font-size: 18px;
    line-height: 22px;
    font-style: normal;
    font-weight: 400;

    text-transform: capitalize;
    text-align: justify;
    color: #FFFFFF;

}

.p-top-170 {
    padding-top: 170px;
}

.top {
    padding-top: 150px;
}

.p-top-130 {
    padding-top: 100px;
}

.p-45 {
    padding-top: 45px;
    padding-bottom: 45px;
}

.p-b-30 {
    padding-bottom: 30px;
}

.section-1-bg {
    padding-top: 44px;
    background-image: url("image/section_1/background_1.png");
}

.section-2 {

    background-image: url("image/section_2/backgroung.jpg");
}

.section-3 {
    background-image: url("image/section_3/background.png");

}

.section-4 {
    background-image: url("image/section_4/background.jpg");
    background-position: center;

}

.section-5 {
    background: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080A0B 99.74%);
    background-color: #1b1e21;
}

.section-6 {
    background: #080A0B;
}

.brand-color {
    color: #FFB548 !important;
}

select {
    background: none;
    border: none;
    color: white;
}

option {
    background: black;
}

option:hover {
    color: rgba(255, 181, 72, 1);

}

.img-size {
    width: 215px;
    height: 260px;
}

.title {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    letter-spacing: 3px;

    padding-top: 150px;
}

.btn-1 {
    width: 260px;
    height: 60px;
}

.size-img {
    width: 215px;
    height: 260px;
}

.acc {
    background: none;
    color: rgba(255, 181, 72, 1);
    cursor: pointer;
    padding: 18px;

    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .acc:hover {
    color: rgb(225, 206, 177);
}

.acc:before {
    content: '*';
    font-size: 25px;
    color: #777;
    float: left;
    margin-right: 15px;
}

.active:before {
    content: '*';
}

.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.inform-s2 {
    width: 500px;
    height: 175px;

    padding-left: 150px;
    padding-right: 50px;
}

.border-text {
    border: 1px solid rgba(151, 151, 151, 1);
    height: 110px;
    width: 288px;
    padding: 10px;
}

.box-size {
    width: 576px;

}

.quotes-box-size {
    width: 435px;
    min-height: 135px;
    padding: 50px 50px 50px 0;

}

.quotes {
    width: 453px;
    min-height: 180px;

    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    padding: 15px;

}

.quotes-1 {

    padding-left: 180px;
}

.quotes-2 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 80px;
}


.photo {
    padding-right: 10px;
}

.date {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.5;
}

input {
    width: 367px;
    height: 60px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 5px;
    color: #bab9b9;
    font-size: 10px;
}

.footer-border-bottom {
    border-bottom: 1px solid #FFFFFF;
}

details {
    user-select: none;
    width: 400px;
}

details > summary span.icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s;
    margin-left: auto;
}

details[open] summary span.icon {
    transform: rotate(180deg);
}

summary {
    cursor: pointer;
    padding-top: 40px;
}

summary::-webkit-details-marker {
    display: none;
}


